<%- include("partials/header") %>

<main>

    <h1><%= title %></h1>


    <% if (organization) { %>

    <section class="organization-details">


        <h2>
            <%= organization.name %>
        </h2>


        <p>
            <%= organization.description %>
        </p>


        <p>
            Email:
            <%= organization.contact_email %>
        </p>


        <h3>
            Service Projects
        </h3>


        <% if (projects && projects.length > 0) { %>


            <ul>


                <% projects.forEach(project => { %>


                    <li>

                        <a href="/project/<%= project.project_id %>">

                            <%= project.name %>

                        </a>


                    </li>


                <% }) %>


            </ul>


        <% } else { %>


            <p>
                No projects available for this organization.
            </p>


        <% } %>



    </section>


    <% } else { %>


        <h2>
            Organization Not Found
        </h2>


    <% } %>


</main>


<%- include("partials/footer") %>