<%- include("partials/header") %>

<main>

<h1><%= title %></h1>

<section class="projects">

    <% if (projects && projects.length > 0) { %>

        <% projects.forEach(project => { %>

            <article class="project-card">


                <h2>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.name %>
                    </a>
                </h2>


                <p>
                    <%= project.description %>
                </p>


                <% if (project.organization_name) { %>

                    <p>
                        Organization:
                        <a href="/organization/<%= project.organization_id %>">

                            <%= project.organization_name %>

                        </a>
                    </p>

                <% } %>


            </article>


        <% }) %>


    <% } else { %>

        <p>
            No projects available.
        </p>

    <% } %>


</section>

</main>

<%- include("partials/footer") %>