<%- include("partials/header") %>

<main>

<h1><%= title %></h1>

<section class="projects">

    <% projects.forEach(project => { %>

        <article class="project-card">

            <h2><%= project.name %></h2>

            <p>
                <%= project.description %>
            </p>

        </article>

    <% }) %>

</section>

</main>

<%- include("partials/footer") %>